<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta name=viewport content="width=device-width,initial-scale=1" />
    <title>Error: Telegram voice messages duration reporter</title>
    <style>
      html {
        padding: 20px;
        background-color: dimgrey;
      }
      body {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        border: 2px solid black;
        border-radius: 12px;
        font-size: 120%;
        text-align: center;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        background-color: silver;
      }
      h1 {
        font-size: 140%;
      }
    </style>
  </head>
  <body>
    <h1>Telegram voice messages duration report generator</h1>
    <p>An unexpected error occurred while processing your file.</p>
    <p>Go back to the <a href="/">reporter form</a>.</p>
  </body>
</html>
